<?xml version="1.0" encoding="utf-8"?>
<root>
  <ClientIdentifier>43195976598-j7cdfe1vh12af6j4e51essc05kbfje9m.apps.googleusercontent.com</ClientIdentifier>
  <ClientSecret>Ao8yRQcPhX_fvylFR6dBn9or</ClientSecret>
  <ProfileId>ga:44957192</ProfileId>
  <RefreshToken>1/KeMbIxsUsTv01n_iuBuux_nap9jx6uAdxw50uBYfLjM</RefreshToken>
</root>